body {
  margin: 0;
  padding: 0;
}

#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/berries-1846085.jpg') ; 
  background-position: center center;
  background-size: cover;
}

.mainbody-container {
  color: rgb(251, 247, 247); /* Adjust for contrast with background */
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: black
}

p {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 30px;
  color: black
}

.mainbody-btns {
  margin-top: 20px; /* Adjust spacing as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

Button {
  background-color: #007bff; /* Blue button */
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  button {
    font-size: 0.8em;
    padding: 8px 15px;
  }
}
