.sidebar-container {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: black;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 0;
    top: -100%;
  }
  
  .sidebar-container.open {
    opacity: 100%;
    top: 0;
  }
  
  .icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
  }
  
  .wrapper {
    color: #fff;
  }
  
  .sidebar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 80px);
    text-align: center;
  }
  
  .sidebar-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    list-style: none;
  }
  
  .sidebar-menu li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .sidebar-menu li a:hover {
    color: #01bf71;
  }
  
  .btn-wrap {
    display: flex;
    justify-content: center;
  }
  
  .sidebar-route {
    border-radius: 50px;
    background: #01bf71;
    white-space: nowrap;
    padding: 16px 64px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .sidebar-route:hover {
    background: #fff;
    color: #010606;
  }
  